.left {
	position:fixed;
	background-color:#68B2F8;
	width:50%;
	height:100%;
	top:0;
	left:0;
	padding-left:20px;
}

.right {
	position:fixed;
	background-image:url('https://imgur.com/FjXuQ2E.png');
	width:50%;
	height:100%;
	top:0;
	right:0;
}

.ground {
	position:absolute;
	background-color:green;
	bottom:0;
	left:0;
	width:100%;
	height:20px;
}

.rocket{
	position:absolute;
	left:50%;
	bottom:20px;
	width:20px;
	height:100px;
	background-color:blue;
	transition:bottom 10s;
}

body.body-state1 .rocket{transition:none;
}

body.body-state3 .rocket, body.body-state4 .rocket {
	bottom:1000px;
}

.state1, .state2, .state3, .state4, .state5{
	display:none;}

body.body-state1 .state1{display:block;}
body.body-state2 .state2{display:block;}
body.body-state3 .state3{display:block;}
body.body-state4 .state4{display:block;}
body.body-state5 .state5{display:block;}

a {

}

a.button {
display:block;
width:150px;
padding:20px;
border-radius:5px;
margin-right: auto;
margin-left: auto;
background:#651F71;
color:#fff;
text-decoration: none;
text-align:center;
font-family:'Source Code Pro', monospace;
text-transform: lowercase;
font-size:30px;
transition:0.5s;
}

a.button:hover {
color:#651F71;
background-color:#fff;
}

h1 {font-family: 'Coda Caption', sans-serif;
font-size: 80px;
text-transform: uppercase;
color:#506EE5;
text-align: center;
margin-top:30%;
margin-bottom: 0;}

h2 {font-family: 'Coda Caption', sans-serif;
font-size:40px;
text-align:center;
margin-top:30%;
color:#506EE5;
margin-bottom: 0}